<div class="card" style="width: 18rem;">
    <div class="card-top d-flex px-3 pt-3">
        <img class="card-img" [src]="user.avatar_url" [alt]="user.avatar_url">
        <small class="align-self-end">@github</small>
    </div>
    <div class="right">
        <i class="fa fa-crosshairs"></i>
    </div>
</div>
<div class="card-body">
    <h5 class="card-title font-weight-bold">{{user.login}}</h5>
    <p class="card-text text-muted">{{user.contributions}} commits</p>
</div>
<div class="card-bottom d-flex justify-content-center">
    <button class="btn btn-outline-primary mb-2">VIEW REPOSITORIES</button>
</div>